/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 4, 2014, 4:20:18 PM
    Author     : Codelord
    Description : This css is used for add styling to about page
*/


.Round_Blue_Canvas{
    background-color: #303030;
    position: absolute;
    /* margin: 6%; */
    top: 10%;
    left: 6%;
    width: 87%;
    height: 80%;
    border-radius: 28px;

    font-size: 12px;
    font-family: calibri;
    /* font-weight: bold; */
    color:#E7E7E7;

    text-shadow: 0 0px 0 #fff;
}

.About_Text_wrapper{
    margin: 7%;
    text-align: justify;
    display: block;
    height: 89%;
    overflow-y: scroll;
}
.show{
    opacity: 1.0;
}
.hide{
    opacity: 0.0;
}

.Default_Fotter_logo{
    position: absolute;
    height: 98%;
    width: 100%;
    display: block;
    top: 20px;
}