form fieldset{
clear:both;
margin-left: auto;
margin-right: auto;
display: block;
margin-bottom: 10px;
/* float: left; */
}
.mode2 .item .tooltip{
left:auto;
position:absolute;
right:-22px;
top:19px;
}
/* Tooltips helpers */
.item .tooltip{
float:left;
top:2px;
left:7px;
position:relative;
z-index:2;
}
.item .tooltip:hover{ z-index:3; }
.item .tooltip > span{
display:inline-block;
width:16px; height:16px;
line-height:16px;
font-size:0.9em;
font-weight:bold;
text-align:center;
color:#FFF; cursor:help; background-color:#ffffff; position:relative; border-radius:10px; }
    .item .tooltip .content{ opacity:0; width:200px; background-color:#333; color:#FFF; font-size:0.9em; position:absolute; top:0; left:20px; padding:8px; border-radius:6px; pointer-events:none; transition:0.2s cubic-bezier(0.1, 0.1, 0.25, 2); -webkit-transition:0.3s cubic-bezier(0.1, 0.2, 0.5, 2.2); -moz-transition:0.3s cubic-bezier(0.1, 0.2, 0.5, 2.2); }
        .item .tooltip p{ padding:0; }
   .item .tooltip.down .content{ left:auto; right:0; top:30px; }
   .item .tooltip:hover .content{ opacity:1; left:36px; }
      .item .tooltip .content b{ height:0; width:0; border-color:#333 #333 transparent transparent; border-style:solid; border-width:9px 7px; position:absolute; left:-14px; top:8px; }
        .item .tooltip.down .content b{ left:auto; right:6px; top:-10px; border-width:5px; border-color:transparent #333 #333 transparent; }

      
        button[type=submit]{
padding: 5px 16px;
float: right;
/* margin-left: 66.9%; */
/* left: 21.9%; */
margin-top: 4.5%;
/* position: absolute; */
border-radius: 5px;
background: transparent;
font-family: Calibri;
font-weight: bold;
font-size: 15px;
color: #fff;
border-color: #fff;
border: 1px solid white;
cursor: pointer;
}
form .item{ /* padding:5px 0; */ position:relative; height:2em; /* margin-bottom: 33px; */ height: 100%; /* width: 100%; */ /* display: block; */}
form .item.items{ height:auto; }
	.item label{ float:left; width: 100%;}
		.item label span{ /* float:left; */ /* margin-left: auto; */ width: 100%; text-transform:capitalize; line-height:2em; font-size: 12px; color: #fff; font-family: Calibri; /* margin-right: auto; */ /* display: block; */}
	.item input, .item textarea{ font-size: 11px; float:left;padding:3px 4px; /* width: 100%; */ -webkit-transition:0.2s; -moz-transition:0.2s; transition:0.2s; color: #fff; /* margin-left: 35%; */}
	.item input{ }
	.item input.short{ width:90px; }

	.item textarea{  }
	.item select{ float:left; width:220px; padding:2px 0; margin:0; /*border:1px solid #CCC;*/ text-transform:capitalize; }
		.item select option{ padding:1px; }

    .item > .extra{ float:left; font-size:0.9em; color:#999; line-height:2em; margin-left:13px; }
    
	.item.multi .input{ float:left; }
		.item.multi input{ float:left; margin-right:5px; width:35px; text-align:center; }
		form .item.multi input:nth-last-child(-n+2){ margin:0; }
	.item.items input{ border-top:5px solid #E1E1E1; margin:0 0 0 160px; }
	
	.bad input[required=required], .bad input.optional, .bad select, .bad textarea{ border:1px solid #CE5454; box-shadow:0 0 4px -2px #CE5454; position:relative; left:0; -moz-animation:.3s 2 shake linear; -webkit-animation:0.3s 2 shake linear; }
.item .tooltip{ float:left; top:2px; left:7px; position:relative; z-index:2; }
.item .tooltip:hover{ z-index:3; }
   .item .tooltip > span{ display:inline-block; width:16px; height:16px; line-height:16px; font-size:0.9em; font-weight:bold; text-align:center; color:#fff; cursor:help; background-color:#ffffff; position:relative; border-radius:10px; }
    .item .tooltip .content{ opacity:0; width:200px; background-color:#333; color:#fff; font-size:0.9em; position:absolute; top:0; left:20px; padding:8px; border-radius:6px; pointer-events:none; transition:0.2s cubic-bezier(0.1, 0.1, 0.25, 2); -webkit-transition:0.3s cubic-bezier(0.1, 0.2, 0.5, 2.2); -moz-transition:0.3s cubic-bezier(0.1, 0.2, 0.5, 2.2); }
        .item .tooltip p{ padding:0; }
   .item .tooltip.down .content{ left:auto; right:0; top:30px; }
   .item .tooltip:hover .content{ opacity:1; left:36px; }
      .item .tooltip .content b{ height:0; width:0; border-color:#333 #333 transparent transparent; border-style:solid; border-width:9px 7px; position:absolute; left:-14px; top:8px; }
        .item .tooltip.down .content b{ left:auto; right:6px; top:-10px; border-width:5px; border-color:transparent #333 #333 transparent; }

/* alerts (when validation fails) */
.item .alert{float:left; margin: 0 0 0 35%; padding:3px 10px; position:relative; color:#fff; border-radius:11px; background-color:#CE5454; max-width:170px; white-space:pre; z-index:1; font-size: 10px;}
.item .alert::after{ display:block; height:0; width:0; border-color:transparent #CE5454 transparent transparent; border-style:solid; border-width:11px 7px; position:absolute; left:-13px; top:1px; }
form .item.multi input:nth-last-child(-n+2){ margin:0; }
form fieldset{ clear:both; margin: 0% 0 0 0%; border: 0px; width: 100%;}
@keyframes shake{
    25%{ transform:translateX(-6px); }
    75%{ transform:translateX(6px); }
}
@-webkit-keyframes shake{
    25%{ -webkit-transform:translateX(-6px); }
    75%{ -webkit-transform:translateX(6px); }
}
.contactaddressdiv{
border: 1px solid white;
width: 50%;
height: 100%;
}
button:active{
  background-color: white;
  color:rgb(132, 37, 13);
}