/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Mar, 2014, 12:43:25 PM
    Description : This css is used for add styling to Social Media page
*/


.Round_Blue_Canvas{
    background-color: #01193f;
    position: absolute;
    /* margin: 6%; */
    top: 10%;
    left: 6%;
    width: 87%;
    height: 80%;
    border-radius: 28px;

    font-size: 12px;
    font-family: calibri;
    /* font-weight: bold; */
    color: #fff;

    text-shadow: 0 0px 0 #fff;
}

.About_Text_wrapper{
    margin: 7%;

    display: block;
    height: 74%;
    overflow-y: scroll;
}
.show{
    opacity: 1.0;
}
.hide{
    opacity: 0.0;
}

.Default_Fotter_logo{
    position: absolute;
    height: 98%;
    width: 100%;
    display: block;
    top: 16px;
}
